.skip-nav {
  padding-top: 70px;
}

.navbar-nav svg {
  cursor: pointer;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.panel-container {
  width: 100%;
  max-width: 480px;
  height: 410px;
}

label.btn-check-custom {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.rat-card {
  max-width: 250px;
}

.rat-img {
  max-width: 100%;
}

#result {
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-nav svg {
    width: 18px;
  }
}